<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Weizheng Lai</title>

    <link rel="stylesheet" href="/assets/css/style.css?v">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
   
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p>
          Ph.D. Candidate in Economics <br/>
          University of Maryland
        </p>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" width="200" height="auto" />
        {% endif %}
       
        <p></p>
        
        <p><a href="/assets/pdfs/CV.pdf">CV </a></p>          
        <p><a href="/">Research </a></p>
        <p><a href="/resources/">Resources </a></p>

      </header>
      <section>

      {{ content }}
      
      </section>
      <footer>
        <p>Email: <a href="mailto:laiwz@umd.edu">laiwz@umd.edu</a></p>
        <p><a href="https://scholar.google.com/citations?user=6rN7IhEAAAAJ&hl=en">Google Scholar</a></p>
        <p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
